
[submodule "IoTClient"]
	path = IoTClient
	url = https://github.com/Air-RME/IoT-Client.git
[submodule "IRControlSystem"]
	path = IRControlSystem
	url = https://github.com/Air-RME/IR-Control-System.git
