[submodule "IoT-Client"]
	path = IoTClient
	url = https://github.com/Air-RME/IoT-Client.git
[submodule "IR-Control-System"]
	path = IRControlSystem
	url = https://github.com/Air-RME/IR-Control-System.git
