[submodule "IoT-Client"]
	path = IoT-Client
	url = https://github.com/Air-RME/IoT-Client.git
[submodule "IR-Control-System"]
	path = IR-Control-System
	url = https://github.com/Air-RME/IR-Control-System.git
